@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Oxygen:wght@300;700&display=swap');


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (min-width: 400px) {
  body {
      margin: 20px;
      padding: 10px;
      height: 85vh;
      background-color: rgb(255,254,179) ;
      font-family: 'Luckiest Guy', cursive;
      font-size: 25px;
      color: rgb(31, 5, 91);
      text-align: center;
  
      } 
    }

/* font-family: 'Luckiest Guy', cursive;
font-family: 'Oxygen', sans-serif;
sombra (102,101,71)
rojo 	(251,46,1)
aqua 	111,203,159
arena background (255,226,138)
otro flarito (255,254,179)
rgb(255, 23, 0)
rgb(255, 142, 0)
rgb(255, 228, 0)
rgb(6, 255, 0)
*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}