.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
    width: 85vw;
}

.btn{
    background-color: #ff3d00;
    box-shadow: 0 10px 20px rgba(111,203,159,0.19), inset 0px -7px 12px 1px rgb(136, 12, 3);
    border-radius: 20px;
    color: #fff;    
    border: none;
    padding: 10px;
    font-size: 2rem;
    font-weight: light;
    box-shadow: #ff8000;
    transition: all 0.4s ease-in-out;
}
.btn:hover{
    cursor: pointer;

}